/*Include padding and border in the element's total width and height:*/
* {
    box-sizing: border-box;
  }
body{
    background-image: url(../images/elephant.png);}
#quiz{
    font-family: 'Pathway Gothic One', sans-serif;
    background:#ffcc33;
    margin: 10px 150px;
    width: 540px;
    height: 600px;
    text-align: center;
    padding-top: 25px;
    border: double 3px;
}
#timer{
    font-family: 'Pathway Gothic One', sans-serif;
    border: solid 4px red;
    width: 50%;
    margin:0px auto;
    font-size: 40px;
}
#afterSubmit{
    visibility: hidden;
}
#submit-button{
    font-family: 'Pathway Gothic One', sans-serif;
    padding-top: 5%;
}
#intro,{
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
    padding-top: 25%;
}
#start-button{
font-family: 'Pathway Gothic One', sans-serif;
padding-top: 5%;

}
h1{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 70px;
    color: green;
}
.myIcon{
    font-size: 50px;
    color: black;
}
p1, p{
font-size: 20px;
padding: 5px;
}
ul{
    font-size: 20px;}
    value{
        padding: 20px;
    }
